# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Update version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven
    - name: Run the update of the version
      run: |
        mvn versions:set -DnewVersion=${{ github.event.inputs.version }}
        git config --global user.name 'ci-user'
        git config --global user.email 'maequise@users.noreply.github.com'
        git commit -am "Automated report"
        git push
